[data-cs-skip-nav] {
  top: 0;
  left: 0;
  position: fixed;
}

[data-cs-skip-nav]:not(:focus-within),
[data-cs-skip-nav]:not(:focus) {
  border: 0;
  width: 1px;
  height: 1px;
  top: -10000px;
  left: -10000px;
  overflow: hidden;
  word-wrap: normal;
  position: absolute;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  transform: translate(-100%, -100%);
}
