[data-cui-tabs][data-orientation='vertical'] {
  display: flex;
}

[data-cui-tab-list] {
  display: flex;
  background-color: #cce5ff;
}

[data-cui-tab-list][aria-orientation='vertical'] {
  flex-direction: column;
}

[data-cui-tab] {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid transparent;
  background-color: transparent;
}

[data-cui-tab][aria-selected='true'] {
  color: #004085;
  border-bottom: 1px solid currentColor;
}

[data-cui-tab][aria-selected='true'][data-orientation='vertical'] {
  border-bottom: none;
  border-right: 1px solid currentColor;
}

[data-cui-tab][aria-disabled='true'] {
  opacity: 0.4;
  cursor: default;
}

[data-cui-dialog-overlay] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.22);
}

[data-cui-dialog-content] {
  width: 50vw;
  padding: 1rem;
  margin: 10vh auto;
  background-color: white;
}

[data-cui-listbox-popover][hidden] {
  display: none;
}

[data-cui-listbox-button] {
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  background-color: white;
  border: 1px solid #eee;
  justify-content: space-between;
}

[data-cui-listbox-button][aria-disabled='true'] {
  opacity: 0.5;
}

[data-cui-listbox-list] {
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-cui-listbox-popover] {
  margin: 5px 0px;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: white;
}

[data-cui-listbox-arrow] {
  font-size: 12px;
  color: #6e6e6e;
  display: inline-block;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

[data-cui-listbox-arrow][data-expanded='false']::before {
  content: '\276F';
}

[data-cui-listbox-arrow][data-expanded='true']::before {
  content: '\276E';
}

[data-cui-listbox-item] {
  cursor: pointer;
  padding: 5px 10px;
  text-align: start;
}

[data-cui-listbox-item][aria-disabled='true'] {
  opacity: 0.5;
}

[data-cui-listbox-item][aria-selected='true'] {
  background-color: steelblue;
}

[data-cui-listbox-item][data-active='true'] {
  font-weight: bold;
}

[data-cui-checkbox] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #52ad36;
}

[data-cui-checkbox-disabled='true'] {
  opacity: 0.5;
}

[data-cui-checkbox-keyboard-focus='true'] {
  box-shadow: 0 0 1px 3px cornflowerblue;
  outline: #52ad36 auto 2px;
}

[data-cui-checkbox-status='true'],
[data-cui-checkbox-status='mixed'] {
  background: #52ad36;
}

[data-cui-checkbox-status='true']::before {
  top: 50%;
  left: 50%;
  content: '';
  position: absolute;
  border: solid #fff;
  display: inline-block;
  width: calc(45% - 2px);
  height: calc(90% - 3px);
  border-width: 0 2px 2px 0;
  transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

[data-cui-checkbox-status='mixed']::after {
  top: 40%;
  left: 28%;
  width: 50%;
  height: 15%;
  content: '';
  position: absolute;
  display: inline-block;
  background-color: #fff;
}

[data-cui-checkbox-input] {
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  outline: none;
  position: absolute;
}

[data-cui-skip-nav] {
  top: 0;
  left: 0;
  position: fixed;
}

[data-cui-skip-nav]:not(:focus-within),
[data-cui-skip-nav]:not(:focus) {
  border: 0;
  width: 1px;
  height: 1px;
  top: -10000px;
  left: -10000px;
  overflow: hidden;
  word-wrap: normal;
  position: absolute;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  transform: translate(-100%, -100%);
}

[data-cui-radio-group] {
  display: flex;
}

[data-cui-radio-group][aria-orientation='vertical'] {
  flex-direction: column;
}

[data-cui-radio] {
  width: 18px;
  height: 18px;
  display: flex;
  margin-right: 5px;
  position: relative;
  border-radius: 50%;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border: 2px solid #52ad36;
}

[data-cui-radio][data-cui-radio-selected='true'] {
  background-color: #52ad36;
}

[data-cui-radio]::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  background-color: white;
}

[data-cui-radio-disabled='true'] {
  opacity: 0.5;
}

[data-cui-radio-keyboard-focus='true'] {
  outline: #52ad36 auto 2px;
  box-shadow: 0 0 1px 3px cornflowerblue;
}

[data-cui-radio-input] {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  opacity: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  position: absolute;
  box-sizing: border-box;
}

[data-cui-alert-dialog-content] {
  width: 50vw;
  padding: 1rem;
  margin: 10vh auto;
  background-color: white;
}