[data-cs-dialog-overlay] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.22);
}

[data-cs-dialog-inner] {
  width: 50vw;
  padding: 1rem;
  margin: 10vh auto;
  background-color: white;
}
