/* COLOR SCHEMA */

//LIGHT THEME

$c-l-primary: #2d4b37;
$c-l-primary-dark: #29784c;
$c-l-primary-darker: #717027;
$c-l-primary-darkest: #5c5d20;
$c-l-primary-light: #927133;
$c-l-primary-lighter: #998735;
$c-l-primary-lightest: #ad9c3c;
$l-code-font-size: 0.9em;

//DARK THEME

$c-d-primary: #88ada5;
$c-d-primary-dark: #21af90;
$c-d-primary-darker: #1fa588;
$c-d-primary-darkest: #1a8870;
$c-d-primary-light: #29d5b0;
$c-d-primary-lighter: #32d8b4;
$c-d-primary-lightest: #4fddbf;

/* FONT */
$f-primary: 'Lato', sans-serif;
$f-secondary: 'Source Code Pro', monospace;
