.table-container {
  width: 100%;
  overflow: auto;

  .cui-table {
    border: none !important;
    width: 100%;
    display: table;
    overflow-x: auto;
    white-space: nowrap;

    @include display-size('xl') {
      white-space: unset;
    }

    td,
    tr,
    th {
      background: none !important;
      vertical-align: middle;
      border-bottom-width: 1px !important;
    }

    &__cell {
      line-height: 18px;

      .cell--description {
        display: inherit;
        font-size: 14px;
        line-height: 19px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .info-icon {
      margin-left: 5px;
      vertical-align: text-bottom;
      transition: all 0.6s ease;
      cursor: pointer;
      display: inline-block;
      width: 17px;

      & > svg {
        fill: var(--cui-color-gray-700);
      }

      &:hover {
        transition: all 0.6s ease;
        fill: var(--cui-color-gray-900);
      }
    }
  }
}
