[data-cui-dialog-overlay] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.22);
  z-index: 1000;
}

[data-cui-dialog-content] {
  width: 50vw;
  padding: 1rem;
  margin: 10vh auto;
  background-color: var(--ifm-background-surface-color);
  color: var(--ifm-font-color-base);
}
