.header-cards {
  margin: 25px 0 15px 0;

  &__wrapper {
    display: flex;
    margin: 0 10px 10px 0;
  }

  &__link {
    display: flex;
    width: 224px;
    border-radius: 4px;
    border: 1px solid rgba(234, 234, 234, 0.6);
    transition: 400ms;
    min-height: 64px;
    text-decoration: none;
    overflow: hidden;

    @include display-size('xs') {
      min-width: 80vw;
    }

    &:hover {
      border: 1px solid rgba(216, 215, 215, 1);
      text-decoration: none;
    }
  }

  .link--divide {
    width: 175px;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cui-color-gray-300);
    width: 65px;
    overflow: hidden;

    & > img {
      max-width: 50px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;

    &--title {
      color: var(--ifm-color-content-secondary);
      font-weight: bold;
    }

    &--type {
      color: var(--cui-color-gray-700);
      font-size: 10px;
    }
  }
}
